/******************************************************************

Variables

******************************************************************/

$base-font-size     : 62.5%;
$base-text-color    : #000000;
$base-link-color    : #000000;
$base-hdr-color     : #000000;
$base-line-height   : 1.3rem;

/* Breakpoints */

$breakpoint-large : 960px; 

/* Fonts */

$font-header: 'Gloria Hallelujah', cursive; 
$font-primary: 'Droid Sans', sans-serif;
$font-secondary:  "Georgia", Cambria, Times New Roman, Times, serif;

$h2-size: 1.7rem;
$h3-size: 1.5rem;
$h4-size: 1.2rem;
$h5-size: 0.8rem;
$p-size: 1rem;
$foot-size: 0.6rem;

/* Line Heights */
$line-height-med: 1.5rem;
$line-height-lg: 2rem;



/* Colours */
$masthead-bkg: #262626;
$masthead-font-color: #F0F0F0;
$header-font-color: hsl(348, 17%, 60%);
$logo-font-color1: hsl(293, 57%, 100%);

$shadow-color: rgba(38,38,38,0.5);


$svg-light: #B3D7E5;
$svg-dark: #4A5E66;



